<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <link rel="preload" href="/_assets/styles.css" as="style" onload="this.rel='stylesheet'">
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <title>Gulfi</title>
</head>
<body>
    <header class="top-header">
            <a href="/" class="header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="24" height="24">
                    <path d="M280.4 148.3L96 300.1V456c0 13.3 10.7 24 24 24l112-.3c13.3 0 24-10.7 24-24V344c0-13.3 10.7-24 24-24h16c13.3 0 24 10.7 24 24v111.7c0 13.3 10.7 24 24 24l112 .3c13.3 0 24-10.7 24-24V300.1l-184.4-151.8c-10-8.2-25.2-8.2-35.2 0zM571.6 251.5L488 184.4V72c0-13.3-10.7-24-24-24h-56c-13.3 0-24 10.7-24 24v72l-88.4-72.9c-18.7-15.4-45.8-15.4-64.4 0L4.3 251.5c-10.5 8.6-4.4 25.5 9.8 25.5H48V456c0 30.9 25.1 56 56 56H472c30.9 0 56-25.1 56-56V277.1h33.9c14.1 0 20.3-16.9 9.7-25.5z"/>
                </svg>
                Inicio
            </a>
            <a href="/favoritos" class="header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="24" height="24">
                    <path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36-17.7 54.6l105.7 103-25 146c-4.5 26.2 23 46 46.4 33.7L288 439.6l131.7 69.2c23.4 12.3 50.9-7.4 46.4-33.7l-25-146 105.7-103c19-18.6 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.7-23.9-57.4 0z"/>
                </svg>
                Favoritos
            </a>
        </header>
        <div class="content-wrapper">
            <aside class="sidebar">
                <h2>Historial</h2>
                <ul class="historial" id="historial"></ul>
            </aside>

            <main class="main-content">
                <div class="form-container">
                    <form hx-get="/search" hx-target="#table-content" class="search-form" id="search-form">
                        <div class="search-group">
                            <label for="search">Búsqueda:
                                <span class="help-icon">
                                    &#9432;
                                    <span class="search-tooltip">El formato es "query | provincia, ciudad", los campos provincia y ciudad son opcionales.</span>
                                </span>
                            </label>
                            <input type="text" class="search-input" id="search-input" placeholder="Ingresa tu busqueda..." name="query" required>
                        </div>
                        <div class="search-group">
                        <label for="strategy">Método de Búsqueda:</label>
                            <select id="strategy" name="strategy" class="search-type">
                                <option value="Fts" selected>Full Text Search</option>
                                <option value="Semantic">Semántica</option>
                                <option value="ReciprocalRankFusion">Reciprocal Rank Fusion</option>
                                <option value="KeywordFirst">Keyword First</option>
                                <option value="ReRankBySemantics">Re-Ranking by Semantics</option>
                            </select>
                        </div>

                        <div class="search-group">
                            <label>Sexo:</label>
                            <div class="radio-group">
                                <label>
                                    <input type="radio" name="sexo" value="U" checked> Todos
                                </label>
                                <label>
                                    <input type="radio" name="sexo" value="M"> Masculino
                                </label>
                                <label>
                                    <input type="radio" name="sexo" value="F"> Femenino
                                </label>
                            </div>
                        </div>
                        <div class="search-group">
                            <label>Rango de Edad:</label>
                            <div class="age-range">
                                <input type="number" id="age_min" name="edad_min" min="0" max="100" value="0" placeholder="Mínimo">
                                <input type="number" id="age_max" name="edad_max" min="0" max="100" value="100" placeholder="Máximo">
                            </div>
                        </div>

                        <div class="search-group ocultable">
                            <label for="k">N° de Vecinos:
                                <span class="help-icon">
                                    &#9432;
                                    <span class="search-tooltip">Representa el número de resultados más cercanos que se quiere buscar.</span>
                                </span>
                            </label>
                            <div class="age-range">
                                <input type="number" id="vecinos" name="k" min="1" max="10000" value="1000">
                            </div>
                        </div>

                        <div class="search-group balance-slider">
                            <label for="balanceSlider">Pesos:
                                <span class="help-icon">
                                    &#9432;
                                    <span class="search-tooltip">Representa el compromiso de asignarle más importancia a los resultados de cada búsqueda.</span>
                                </span>
                            </label>
                            <input type="range" id="balanceSlider" min="0" max="100" value="50">
                            <p>Peso FTS: <span id="value1Display" class="slider-value">50</span></p>
                            <p>Peso Semantic: <span id="value2Display" class="slider-value">50</span></p>
                        </div>

                        <div class="search-group">
                            <input type="hidden" id="hiddenValue1" name="peso_fts" value="50">
                            <input type="hidden" id="hiddenValue2" name="peso_semantic" value="50">
                        </div>

                        <div class="button-container">
                            <button aria-label="Buscar" title="Buscar" type="submit" class="search-button">Buscar</button>
                            <button aria-label = "Descargar" title="Descargar" id="downloadBtn" class="search-button" disabled>
                                Descargar <span id="itemsCount">0</span> elementos (<span id="dataWeight">0 KB</span>)
                            </button>
                            <button aria-label = "Resetear descarga" title="Resetear descarga" id="resetDownloadBtn" class="search-button">
                                ⟳
                            </button>

                            <button aria-label = "Agregar búsqueda a favoritos" title="Agregar búsqueda a favoritos" id="saveBtn" class="search-button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="24" height="24">
                                    <path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36-17.7 54.6l105.7 103-25 146c-4.5 26.2 23 46 46.4 33.7L288 439.6l131.7 69.2c23.4 12.3 50.9-7.4 46.4-33.7l-25-146 105.7-103c19-18.6 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.7-23.9-57.4 0z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                    <div class="tooltip">
                        Presiona Ctrl + b para empezar a buscar. Presiona Ctrl + Shift + s para descargar.
                    </div>
                </div>

                <div class="table-container" id=>
                    <div class="tooltip">
                        Haz click en las columnas que quieras exportar a CSV, se acumularan hasta que presiones descargar!
                    </div>
                    <div id="table-content">
                        <p>Realiza una busqueda!</p>
                    </div>
                </div>
            </main>

        </div>
        <script src="/_assets/main.js"></script>
    </body>
</html>
